// .heading {
//     color:red;
//     background-color: cornsilk;
// }

// body {
//     margin-left: auto;
//     margin-right: auto;

//   }
//   h1 {
//     text-align: center;
//   }
//   .accordionItem {
//       text-align: center;
//   }

//   .accordionTitle {
//     cursor: pointer;

//   }

//   .accordionTitle + .accordionContent {
//     display: none;
//   }

//   .accordionTitle.is-open + .accordionContent {
//     display: block;
//   }

.accordion {
  width: 765px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  text-align: justify;
  .heading {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    color: #1f8dd6;
  }
}
.accordion_head {
  padding: 20px 10px;
  width: 100%;
  background: #1f8dd6;
  border-bottom: 1px solid #ffffff;
  outline: none;
  color: #f3f3f3;
  font-size: 20px;
}
.accordion_body {
  font-size: 20px;
  padding: 0 10px;
  background-color: #f3f3f3;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.accordion_body.active {
  max-height: 100px;
  padding: 10px;
}
.accordion_head.active {
  background: #034672;
}
