
.backgroundclasss {
    background-color: rgba(0, 0, 0,0.5);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.commonclass {
    width:100%;
    max-width: 825px;
    margin: 0 auto;
    background: #fff;
}
.wrapper {
    padding: 0 90px;
}
.close-icon {
    text-align: right;
    .icon-wrapper {
        padding: 0 10px;
    }
}
.header-section {
    .header {
        padding:20px 0 25px;
        text-align: center;
        h1 {
            font-family:librebaskerville regular;
            font-weight: 400;
            letter-spacing: 0.5px;
        }
    }
}

.buttons {
    .button-wrapper {
        padding-bottom: 30px;
        .button-flexbox {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:10px;
            width:100%;
       
                .btn {
                    background: none;
                    border:1px solid #000000;
                    text-decoration: none;
                    border-radius: 0px;
                    padding: 13px 20px;
                    text-transform: uppercase;
                    font-family: nunito regular;
                    font-weight: 400;
                    letter-spacing: 1px;
                    width:32.2%;
                }
                .btn-1 {
                    background-color: #000000;
                    color:#ffffff;
                }
        
        }
    }
}

.selection {
    border-top: 1px solid  #ededed;
    border-bottom: 1px solid  #ededed;
    .selection-wrapper {
     padding: 20px 0;
     height: 108px;
     overflow: auto;
        .selection-flexbox {
         display: flex;
         justify-content: space-between;
            .flex-item {
                h4 {
                    font-family: nunito regular;
                    font-weight: 400;
                }
            }
        }
        .product-names-wrapper {
            margin-top: 17px;
            width: 100%;
            .product-names-wrapper-flex {
                display:flex;
                gap:10px;
                flex-wrap:wrap;
                .product {
                    display:flex;
                    border-radius: 50px;
                    padding: 4px 10px;
                    background-color:#e9e9e9;
                        span {
                        font-family: nunito regular;
                        font-weight: 400;  
                        color:#121121BF;
                        letter-spacing: 0;
                        }
                        .cross {
                        padding: 0 5px 0 14px;
                        }
                }
            }
        }
    }
}

.images {
    height:700px;
    overflow: auto;
    .image-section {
        padding: 20px 0;
        .images-flexbox {
            display:flex;
            flex-wrap: wrap;
            gap:20px;
            .flexitem {
                width:calc(50% - 10px);
                .image-wrapper {
                 width:312px;
                }
                .buttons {
                   
                    .btn-1 {
                        padding:10px 0;
                        background:#000000;
                        color:#ffffff;
                        border:1px solid #000000;
                        text-decoration: none;
                        border-radius: 4px;
                        width:40%;
                        font-family:nunito regular;
                        font-weight: 400;
                    }
                    .btn-2{
                        padding:15px 0;
                        background:#000000;
                        color:#ffffff;
                        border:1px solid #000000;
                        text-decoration: none;
                        border-radius: 0px;
                        text-transform: uppercase;
                        width: 100%;
                        margin-top: 15px;
                        font-family:nunito regular;
                        font-weight: 400;   
                    }
                }
                .product-name-price {
                    margin: 20px 0 20px 10px;
                    h4 {
                        font-family:librebaskerville regular;
                        font-weight: 400;
                    }
                    p {
                    margin: 10px 0 0;
                    font-family:nunito regular;
                    font-weight: 400;
                    }
                }
            }
        }
    }
}

