.header-background {
    background-color: #545454;
    .container {
        width:100%;
        margin:0 auto;
        max-width: 1500px;
        .navigation-wrapper {
            .navigation-bar-wrapper {
                display: flex;
                .navigation-flexbox {
                    display: flex;
                    justify-content: center;
                    list-style:none;
                    width: 80%;
                    li {
                        position:relative;
                        a {
                            text-decoration: none;
                            color: #fff;
                            display: inline-block;
                            padding: 40px 20px;
                            font-family:"nunito regular" ;
                            font-weight: 400;
                            font-size: 18px;

                        }
                        .child {
                            list-style: none;
                            background-color: #fff;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            opacity:0;
                            visibility:hidden;
                            z-index: 1;
                            li {
                                a {
                                    color: #000;
                                }
                                .grandchild {
                                    list-style: none;
                                    background-color: #fff;
                                    li {
                                        a{

                                        }
                                    }
                                }
                            }
                        }

                        &:hover .child {
                            opacity:1;
                            visibility:visible;
                        }
                    }
                }
                .social-icons {
                    display: flex;
                    justify-content: flex-end;
                    width: 20%;
                    li {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}











