.form-container {
    .login_form {
        text-align: center;
        padding: 20px 0;
        .username-wrapper {
            margin:20px 0;
        }
        .password-wrapper {
            margin:20px 0;
        }
        .input_tag {
            width:25%;
            padding: 10px 0;
        }
        .submit_btn {
            padding: 10px 80px;
            background-color: #fff;
        }
    }
}
.message {
    width: 33%;
    margin: 0 auto;
    display: none;
    h3 {
        font-size: 35px;
        color:crimson;
        text-align: center;
    }
    .invalid {
        text-align: justify;
        font-size: 20px;
        padding: 0 50px;
        color:red;
    }
    .invalid::before {
        position: relative;
        left: -14px;
        content: "✖";
    }
    .valid {
        text-align: justify;
        font-size: 20px;
        padding: 0 50px;
        color:green;
    }
    .valid::before {
        position: relative;
        left: -14px;
        content: "✔";
    }
}