.text-section-wrapper {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    .text-wrapper {
        width: calc(50% - 40px);
        margin: 0 auto;
        text-align:center;
        padding: 50px 0;
        .text-section-p {
            
        }
        .p_2 {
            margin-top: 20px;
        } 
        .text-section-button {
            display: inline-block;
            font-size: 20px;
            text-decoration: none;
            text-transform: uppercase;
            background: none;
            border:1px solid black;
            padding: 10px 95px;
            margin-top: 50px;
        }
    }
}