.collection-name {
    text-align: center;
    h1 {
        font-size: 60px;
        color: #ebcca5f7;
        font-family:librebaskerville regular;
        padding: 40px 0;
        text-transform: uppercase;
        font-weight:400;
    }
}
/*product container*/
.product-page-wrapper {
    padding: 80px 100px;
    z-index: 1;
    .product-page-flexbox {
        display:flex;
        flex-wrap: wrap;
        .product-flex-firstitem {
            width: 50%;
            overflow: hidden;
            .slideshow-image-wrapper {
                display: flex;
                .product-page-image-slideshow {
                    width: 20%;
                    .carousel-nav{
                        width: 300px;
                        transform: rotate(90deg) translate(30px, -100%);
                        transform-origin: left top;
                        
                        @media screen and (max-width: 1200px) {
                        transform: rotate(90deg) translate(30px, -50%);
                        }
                    
                        .carousel-cell {
                        transform: rotate(-90deg);
                        width: 50%;
                        height: 120px;
                        cursor: pointer;
                        margin-right: 1rem;
                        
                        /* selected cell */
                        &.is-nav-selected {
                            background: #ED2;
                        }
                        }
                        .image-wrapper {
                            transform: rotate(-90deg);
                        }
                        
                        .flickity-prev-next-button {
                        width: 40px;
                        height: 40px;
                        background: transparent;
                    
                        &.previous{
                            left: -40px;
                        }
                        &.next{
                            right: -40px;
                        }
                        }
                    }    
                }
                .product-page-image-section {
                    width:80%;
                    .carousel-main{
                        .carousel-cell{
                            width: 691px;
                            height: 694px;
                            .image-wrapper {
                            }
                        }
                    }
                }
            }
        }
        .product-flex-seconditem {
            width: 50%;
            padding: 0 80px;
            .product-details-container {
                .product-details {
                    display: flex;
                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        .product-title {
                            font-size: 40px;
                            padding: 10px 0;
                            font-family:librebaskerville regular;
                            font-weight: 700;
                        }
                        .product-price {
                            font-size: 30px;
                            padding: 10px 0;
                            font-family:"nunito regular" ;
                            
                        }
                        .product-description {
                            font-size: 18px;
                            padding: 10px 0;
                            font-family:"nunito regular" ;
                            color:#818181;
                        }
                    }
                }
            }
            .product-variants-container {
                .product-variant {
                    margin-bottom: 10px;
                    .product-option {
                        font-size:20px;
                        font-family:"nunito regular" ;
                        display: inline-block;
                        padding-bottom:10px ;
                    }
                    .variant-choose {
                        .option-value-wrapper {
                            display: inline-block;
                            margin-right: 10px;
                            cursor: pointer;
                            .radio-button {
                                display: none;
                            }
                            .button-label.size-label {
                                display: inline-block;
                                padding: 15px 20px;
                                background-color: #d5d5d5;
                                font-size: 18px;
                                font-family:"nunito regular" ;
                                cursor: pointer;
                                &:hover {
                                    background-color:#2a2a2aaa;
                                    color:#fff;
                                }
                            }
                            .button-label.size-label.active {
                                background-color: #000;
                                color:#fff;
                                cursor: pointer;
                            }
                            .button-label.color-label {
                                position: relative;
                                height: 14px;
                                width: 14px;
                                border-radius: 100%;
                                display: block;
                                cursor: pointer;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    height: 20px;
                                    width: 20px;
                                    border-radius: 100%;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    
                                }
                                &:hover::after {
                                    display: block;
                                    border: 1px solid #000;
                                }
                            }
                            .button-label.color-label.active {
                                border: 1px solid #000; 
                                cursor: pointer;
                                &:after {
                                    content:'';
                                    border:1px solid #000;
                                }
                            }
                        }
                    }
                }
                .product-options {
                    margin-bottom: 10px;
                    .product-select {
                        width: 50%;
                        padding: 5px 10px;
                        font-size: 18px;
                        font-family:"nunito regular";
                    }
                }
                .productquantity {
                    .qtylabel {
                        font-size: 20px;
                        font-family:"nunito regular";  
                        margin-bottom: 5px;
                    }
                    .qtyinput {
                        width: 25%;
                        padding: 5px 10px;
                        font-size: 18px;
                    }
                }
            }
            .second_item_buttons {
                margin: 15px 0 0;
                .butons-flexbox-wrapper {
                    .butons-flexbox {
                        display:flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        .btn-wrapper {
                            width:calc(50% - 10px);
                        }
                        .btn{
                            width:100%;
                            padding: 10px 0;
                            background-color: #000;
                            color:#fff;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-family:"nunito regular";
                            font-weight: 700;
                            border-radius: none;
                        }
                    }
                }
            }
        }
    }
}