.side-cart-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    // display: none;
    background-color: #000;
    .side_cart_width {
        width: 600px;
        .side_cart {
            height: 100vh;
            overflow: auto;
            padding: 10px;
            .side-cart-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .head {
                    h3.cart-title {
                        color: white;
                        text-align: center;
                        padding: 10px;
                    }
                }
                .close-btn {
                    .close-wrapper {
                        a {
                            color: white;
                            transform: rotate(45deg);
                            font-size: 50px;
                            display: inline-block;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .side-cart-content {
            .items {
                .items-li {
                    margin-bottom:10px;
                    padding: 20px;
                    .item-data {
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 15px;
                        .item-image {
                            width: 50%;
                            .item-image-wrapper {
                                width: 150px;
                            }
                        }
                        .item-details {
                            color: white;
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            h3.item-title {
                                text-align: right;
                            }
                            .item-options {
                                list-style: none;
                                text-align: right;
                            }
                            .item-remove {
                                text-align: right;
                               .remove_btn {
                                text-decoration: none;
                                color: white;
                                cursor: pointer;
                               } 
                            }
                        }
                    }
                    .item-price-details {
                        color: white;
                        display: flex;
                        flex-wrap: wrap;
                        .item-price-details-width {
                            width: 33%;
                        }
                        .item-price {
                            text-align: left;
                        }
                        .quantity-box{
                            text-align: center;
                            .item-qty {
                                width: 50%;
                            }
                            .qplus {
                                cursor: pointer;
                            } 
                            .qminus {
                                cursor: pointer;
                            } 
                        }
                        .item-total {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
.side-cart-drawer {
    display: none;
}
//test