// body {
//     margin-left: auto;
//     margin-right: auto;
   
//   }
//   h1 {
//     text-align: center;
//   }
//   .accordionItem {
//       text-align: center;
//   }
  
//   .accordionTitle {
//     cursor: pointer;
    
//   }
  
//   .accordionTitle + .accordionContent {
//     display: none;
//   }
  
//   .accordionTitle.is-open + .accordionContent {
//     display: block;
//   }
