.description-tab {
    margin:30px 0 20px;
    .description-tab-wrapper {
      .product-description-tabs {
        @include flexbox();
        @include flex-wrap(wrap);
        .product-tab {
          width: 33%;
          color: #000000;
          @include mq ("phone") {
           width: 100%;
           padding: 8px 0;
          }
          .product-btn {
            width: 100%;
            border:none;
            background: none;
            font-weight: 700;
            padding: 25px 0;
            @include mq ("tablet") {
            text-align: center;
            font-size: 11px;
            }
            @include mq ("phone") {
              text-align: left;
              }
            &::after {
              content: "";
              @include mq ("phone") {
                border: solid $dark-grey;
                border-width: 0 3px 3px 0;
                padding: 3px;
                float: right;
                margin: 5px;
                @include transform(rotate(225deg));
              }
            }
          }
          .product-btn.active {
            color:#ffffff;
            background-color: #a1a1a1;
            &::after {
              content: "";
              @include mq ("phone") {
                @include transform(rotate(45deg));
              }
            }
          }
          .accordian {
            display: none;
          }
          .accordian.active {
            @include mq ("phone") {
             display: block;
             padding: 10px 0;
             border-bottom: 1px solid $light-grey;
            }
          }
        }
        .product-tab.active {
            border-bottom: 1px solid $black-color;
            color:#ffffff;
            background-color: #a1a1a1;
        }
      }
      .product-description-wrapper {
        @include mq ("phone") {
          display: none;
        }
        .panel {
          display: none;
          .panel-body {
            padding: 25px 0 0;
          } 
        }
        .panel.active {
          display: block;
        }
      }
    }
  }