.popup-background {
    background-color: #0006;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    display: none;
    .popup-wrapper {
        width: 400px;
        height: 400px;
        background-color: #f0fff0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        .popup-box {
            text-align: center;
            width: 100%;
            h1 {
                margin: 30px;
            }
            .button-wrapper {
                margin: 20px;
                .btn {
                    width: calc(50% - 10px);
                    padding: 15px;
                    background: white;
                    border: none;
                    border-radius: 0;
                }
            }
        }
    }
}
.popup-background.show {
    display: block;
}