/* Cart drawer scss 
*------------------------------------------------*/
// .side-cart-wrap {
//   .side-cart-panel {
//     .side-cart-header {
//       .side-cart-left {
       
//       }
//     }
//   }
// }
/**************** side cart section *******************/
.hide {
    display: none;
  }
  .remove-hide {
    display: block;
  }
  .overflow-hidden {
    height: 100%;
    overflow: hidden;
  }
  .safari-container-side-cart {
    .overflow-hidden {
      height: 100%;
      overflow: hidden;
    }
  }
  .overflow-data {
    position: fixed;
      background-color: #2e2929cc;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      cursor: pointer;
      display: none;
      z-index: 15;
      &.active-class {
        display: block
      }
  }
  .side-cart-wrap {
    &.active {
      .side-cart-panel {
        @include transform(translateX(0%));
      }
      .side-cart-overlay {
        display: block;
      }
    }
    .side-cart-panel {
      @include transform(translateX(100%));
      @include transition(transform 0.2s ease);
      background-color: $color_white;
      width: 42.5rem;
      position: fixed;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      z-index: 9999;
      padding: 2rem;
      @include mq("large-desk-down") {
        width: 47rem;
      }
      @include mq("tablet-and-down") {
        width: 90%;
        padding: 15px 0 0;
      }
      .side-cart-header {
        padding-bottom: 2rem;
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        .side-cart-left {
          @include flexbox();
          @include align-items(center);
          @include justify-content(space-between);
          max-width: 100%;
          width: 100%;
          .cart-close-btn {
            img {
              cursor: pointer;
            }
          }
          p {
            a {
              padding: 0;
              color: $color_black;
              text-decoration: none;
              position: relative;
              // padding-bottom: 3px;
              &:hover {
                &::before {
                  position: absolute;
                  content: "";
                  left: 0px;
                  bottom: 0px;
                  width: 100%;
                  height: 1px;
                  background: $color_black;
                }
              }
            }
          }
          a {
            display: block;
            margin-right: 12px;
            color: #000;
            padding: 0;
            svg {
              display: block;
              width: 2rem;
              fill: #000;
            }
          }
        }
        .side-cart-right {
          a {
            font-size: 14px;
            color: $color_black;
            text-decoration: none;
            position: relative;
            padding-bottom: 3px;
            border-bottom: 1px solid $color_black;
            transition: all 0.3s ease-in-out;
          }
          a:hover {
            border-bottom: none;
          }
        }
        .side-cart-step {
          display: none;
          @include mq("tablet-and-down") {
            display: none;
          }
          p {
            font-size: 14px;
            color: $color_black;
            line-height: 1;
            opacity: 0.6;
          }
        }
        p {
          margin: 0;
          color: $color_black;
        }
      }
  
      .side-cart-body {
        overflow-y: auto;
        @include mq("phone") {
          max-height: calc(100% - 266px);
        }
        &::-webkit-scrollbar {
          width: 3px;
        }
  
        &::-webkit-scrollbar-track {
          // @include background-opacity($placeholder-color, 0.3);
          border-radius: 10px;
        }
  
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          // @include background-opacity($placeholder-color, 0.5);
          border-radius: 10px;
        }
        .swiper-pagination {
          margin-top: 10px;
          .swiper-pagination-bullet {
            border: 2px solid #000 !important;
          }
          .side-cart-body
            .swiper
            .swiper-pagination
            .swiper-pagination-bullet-active {
            background-color: #000 !important;
          }
        }
      }
  
      .side-cart-footer {
        //need to important to override inline css
        position: unset !important;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 15px 0 !important;
        z-index: 1;
        background: $color_white;
        @include mq("phone") {
          padding: 15px !important;
        }
        .cart-order-summary {
          .cart-summary-title {
            padding: 0px 0 10px 16px;
            border-bottom: 1px solid rgba(#ddd, 0.5);
            font-size: 16px;
            line-height: 1;
            letter-spacing: 0.25px;
            color: $color_black;
          }
          .cart-summary-total {
            padding: 5px 15px;
            font-size: 13px;
            @include mq("phone") {
              padding: 15px 10px 0;
            }
            .total-savings {
              @include flexbox();
              @include align-items(center);
              @include justify-content(space-between);
            }
            .sub-total {
              @include flexbox();
              @include align-items(center);
              @include justify-content(space-between);
            }
            .total-taxes {
              @include flexbox();
              @include align-items(center);
              @include justify-content(space-between);
            }
          }
        }
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 15px 25px;
        z-index: 1;
        @include background-opacity($color_white, 1);
        @include mq("tablet-and-down") {
          padding: 15px;
        }
      }
  
      &.safari-container-side-cart {
        .side-cart-body {
          max-height: calc(100% - 34px - 188px);
        }
  
        .side-cart-footer {
          @include mq("phone") {
            padding-bottom: 100px;
          }
        }
      }
  
      .no-items {
        text-align: center;
        padding: 50px 0;
      }
  
      .side-cart-products {
        .loader_wrapper.the-man-company {
          width: 100%;
          display: flex;
          justify-content: center;
          height: auto;
          align-items: center;
          position: relative;
          .tmc_loader {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            img {
              width: 100%;
              height: auto;
              max-width: 100%;
            }
          }
        }
        .side-cart-item {
          border-bottom: 1px solid #ddd;
          padding: 10px 0;
          @include flexbox();
          @include align-items(stretch);
          @include mq("tablet-and-down") {
            padding: 15px 0;
          }
          .cart-image {
            // @include flex(0, 0, 30%);
            max-width: 30%;
            img {
              width: 90px;
              height: auto;
              object-fit: contain;
              object-position: center center;
              display: block;
              margin: 0 auto;
            }
          }
          .cart-content {
            // @include flex(0, 0, 70%);
            max-width: 70%;
            border-left: 1px solid rgba(#ddd, 0.25);
            padding-left: 30px;
            @include mq("tablet-and-down") {
              padding-left: 20px;
            }
            ul {
              padding: 0;
              list-style: none;
              font-size: 14px;
            }
            .cart-name {
              a {
                padding: 0;
                margin: 0;
                display: block;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                color: $color_black;
                text-decoration: none;
                margin-bottom: 0px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                @include mq("phone") {
                  font-size: 14px;
                  margin-bottom: 7px;
                }
              }
            }
            .data-content {
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 1.3;
              margin-top: 3px;
            }
            .cart-variant-name {
              line-height: normal;
              font-weight: normal;
              letter-spacing: 0.25px;
              color: $color_black;
            }
            .cart-price {
              margin-top: 8px;
              @include mq("phone") {
                margin-top: 8px;
                font-size: 18px;
              }
              .del-price {
                text-decoration: line-through;
                font-size: 13px;
              }
            }
            .edit-product {
              cursor: pointer;
            }
            .cart-extra {
              margin-top: 12px;
              @include flexbox();
              @include align-items(stretch);
              @include justify-content(space-between);
              @include mq("phone") {
                margin-top: 15px;
              }
             
              // .quantity {
              //   --inputs-radius: 2px;
              //   height: 25px;
              //   min-height: auto;
              //   width: 93px;
              //   border: 1px solid #000;
              //   &:after {
              //     display: none;
              //   }
              //   .quantity__button {
              //     width: 30px;
              //   }
              //   .quantity__input {
              //     border-left: 1px solid #000;
              //     border-right: 1px solid #000;
              //     font-weight: 600;
              //     font-size: 15px;
              //     outline: none;
              //     box-shadow: none;
              //     margin: 0;
              //     border-radius: 0px;
              //   }
              // }
              cart-remove-button {
                margin: 0 0 0 auto;
                @include mq("tablet-and-down") {
                  width: auto;
                  height: auto;
                }
                .button {
                  min-width: auto;
                  min-height: auto;
                  background: transparent;
                  svg {
                    width: 20px;
                    fill: #000;
                    height: 20px;
                  }
                }
              }
            }
            .child-product-name {
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
  
      .total-wrapper {
        @include flexbox();
        @include align-items(center);
        padding: 0px 15px 20px;
        @include mq("tablet-and-down") {
          padding: 0px 15px 10px;
        }
        @include mq("phone") {
          padding: 0px 10px 10px;
        }
      }
    }
    .side-cart-overlay {
      display: none;
      background-color: rgba($color_black, 0.17);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .add-to-cart-btn-wrapper {
    .add-cart-btn {
      width: 100%;
      background: $color_black;
      text-align: center;
      margin: 12px 0 0;
      color: $color_white;
      &.sold-out {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  .sidecart-is-empty {
    pointer-events: none;
    opacity: 0.7;
  }
  
  .drawer-shipping-bar {
    .shipping-bar {
      padding: 5px 15px;
      @include mq("phone") {
        padding: 0 12px;
      }
      &.shipping-padding {
        padding: 10px 5px;
        @include mq("phone") {
          padding: 7px 12px;
        }
      }
      .shipping-bar-wrapper {
        padding-left: 0;
        margin: 0;
        .shipping-inventory-item {
          @include font_size(1.2);
          line-height: 1.8;
          list-style: none;
  
          .shipping-message {
            @include flexbox();
            @include align-items(center);
            @include font_size(1.2);
            line-height: 1.8;
            img {
              padding-right: 10px;
              width: 28px;
              height: 28px;
              object-fit: contain;
            }
          }
          p {
            margin: 0%;
          }
          .progress-bar {
            position: relative;
            display: block;
            margin-top: 10px;
            width: 100%;
            height: 15px;
            border-radius: 3px;
            background: #000;
            @include mq("phone") {
              margin-top: 5px;
            }
            &:after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              @include background-opacity(#fff, 1);
              @include transition(width 2.5s ease);
              border-radius: 3px;
              border: 1px solid #475d4b;
              height: 100%;
            }
            &.hidden {
              display: block;
            }
            &.empty-cart-progress {
              &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                @include background-opacity(#fff, 1);
                @include transition(width 2.5s ease);
                border-radius: 3px;
                border: none;
                height: 100%;
              }
            }
          }
          .shipping-range {
            @include flexbox();
            @include justify-content(space-between);
            @include align-items(center);
            .custom-price {
              @include flexbox();
              @include align-items(center);
              font-size: 12px;
              font-weight: 700;
              .gift-image {
                img {
                  width: 25px;
                  height: 25px;
                  object-fit: cover;
                }
              }
            }
            &.hide {
              display: none;
            }
          }
        }
      }
    }
  }
  
  
  
  
  
  #root {
    .discount-form{
      margin-bottom: 2px;
      .disc-input{
        @include flexbox();
      }
      .input-box{
        margin: 0;
        width: calc(100% - 70px);
      }
      .button{
        cursor: pointer;
        width: 60px;
        height: 40px;
        padding: 0;
        margin-left: 10px;
        background-color: $color_black;
        .background-image{
          width: 100%;
          height: 100%;
          display: inline-block;
          background-size: 25px;
          background-repeat: no-repeat;
          background-position: center;
          &.right-arrow{
            background-image: url("https://cdn.shopify.com/s/files/1/1188/2592/files/right-arrow.svg?v=1605167466");
          }
          &.loading{
            background-image: url("https://cdn.shopify.com/s/files/1/1188/2592/files/loading.svg?v=1605174025");
            animation: mymove 1s infinite;
          }
          @keyframes mymove {
            100% {transform: rotate(360deg);}
          }
        }
      }
      .discount-result{
        font-size: 12px;
      }
    }
    .cart-price-main{
      .cart-price-section{
        @include flexbox();
        @include justify-content(space-between);
        font-size: 12px;      
        margin-bottom: 5px;
        &.cart-final-total{
          font-weight: bold;
          font-size: 14px; 
        }
      }
    }
    select {
      cursor: pointer;
    }
    .footer-wrapper {
      background: $color_white;
      .cart-price-section{
        @include flexbox();
        @include justify-content(space-between);
        font-size: 12px;      
        margin-bottom: 5px;
        &.cart-final-total{
          font-weight: bold;
          font-size: 14px; 
        }
      }
    }
  }