.cart-page-width {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
} 
.cart-page-wrapper {
    .cart-page-content {
        .cart-page-header-wrapper {
            background-color: #f3f3f3;
            .cart-item-header {
                .item-data {
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    list-style: none;
                    .item-data-li {
                        padding: 20px 40px;
                        font-size: 20px;
                        font-family: 'nunito regular';
                        font-weight: 700;
                        width: 25%;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.items {
    list-style: none;
    border-bottom: 1px solid black;
    padding: 20px 0 40px;
    .item-li {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
        .item-data {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            text-align: end;
            .item-image-wrapper {
                width: 100px;
            }
            .item-details {
                h3 {
                    font-size: 18px;
                    font-family: "librebaskerville regular";
                }
                .item-options {
                    list-style: none;
                    .option {
                        font-size: 18px;
                        font-family: "nunito regular";
                    }
                }
                .item-remove-button {
                    .remove-btn {
                        text-decoration: none;
                        color: #000;
                        font-size: 20px;
                        font-family: 'nunito regular';
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }
        .item-price {
            .price-of-item {
                font-size: 20px;
                font-family: 'nunito regular';
            }
        }
        .quantity-box {
            .qty_btn {
                font-size: 20px;
                font-weight: 700;
                background: black;
                color: #fff;
                padding: 0px 15px;
                cursor: pointer;
            }
            .item-qty{
                width: 33%;
                text-align: center;
                font-size: 20px;
            }
        }
        .item-total {
            .total-item-price {
                font-size: 20px;
                font-family: 'nunito regular';
            }
        }
        .item-data-width {
            width: 25%;
        }
    }
}
.cart-end-wrapper {
    .update_totalprice_wrapper {
        display: flex;
        justify-content: space-between;
        .update_btn_wrapper {
            text-align: left;
            padding: 0 0 0 25px;
            .update_btn {
                padding: 5px 50px;
                font-size: 20px;
                font-family: 'nunito regular';
                background: none;
                border: 1px solid black;
                text-transform: uppercase;
                &:hover {
                    background-color: #000;
                    color:#fff;
                }
            }
        }
        .total-price-wrapper {
            width: 25%;
            .total_price {
                font-size: 20px;
                font-family: 'nunito regular';
                font-weight: 700;
                text-align: center;
            }
        }
    }
}
