* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width:100%;
    height: auto;
}
@font-face {
    font-family:"nunito regular" ;
    src: url("https://cdn.shopify.com/s/files/1/0090/6720/0572/files/Nunito-Regular.ttf?v=1638506030");
}
@font-face {
    font-family:"librebaskerville regular" ;
    src: url("https://cdn.shopify.com/s/files/1/0090/6720/0572/files/LibreBaskerville-Regular.ttf?v=1638505991");
}