<!-- /templates/collection.liquid -->
{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<!-- {% section 'collection-template' %} -->

<!-- <script>
  window.theme = window.theme || {};
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  //
  theme.collectionStrings = {
    sortBy: '{{ collection.sort_by | default: collection.default_sort_by }}'
  }
</script> -->

{% section 'collection-template' %}
