<!-- /templates/list-collections.liquid -->
{% comment %}
  The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

<!-- {% section 'list-collections-template' %} -->
