@charset "UTF-8";
/* MIXIN : LINEAR GRADIENT
   *    EX : @include linear-gradient((90deg, #000 0%, rgba(0,0,0,0) 100%));
   * ------------------------------------------------------------------------- */
/* MIXIN : MEDIA QUERIES
   *    EX : @include mq( 'lap-and-up' ) { CODE }
   * ------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

@font-face {
  font-family: "nunito regular";
  src: url("https://cdn.shopify.com/s/files/1/0090/6720/0572/files/Nunito-Regular.ttf?v=1638506030"); }

@font-face {
  font-family: "librebaskerville regular";
  src: url("https://cdn.shopify.com/s/files/1/0090/6720/0572/files/LibreBaskerville-Regular.ttf?v=1638505991"); }

.header-background {
  background-color: #545454; }
  .header-background .container {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px; }
    .header-background .container .navigation-wrapper .navigation-bar-wrapper {
      display: flex; }
      .header-background .container .navigation-wrapper .navigation-bar-wrapper .navigation-flexbox {
        display: flex;
        justify-content: center;
        list-style: none;
        width: 80%; }
        .header-background .container .navigation-wrapper .navigation-bar-wrapper .navigation-flexbox li {
          position: relative; }
          .header-background .container .navigation-wrapper .navigation-bar-wrapper .navigation-flexbox li a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            padding: 40px 20px;
            font-family: "nunito regular";
            font-weight: 400;
            font-size: 18px; }
          .header-background .container .navigation-wrapper .navigation-bar-wrapper .navigation-flexbox li .child {
            list-style: none;
            background-color: #fff;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            z-index: 1; }
            .header-background .container .navigation-wrapper .navigation-bar-wrapper .navigation-flexbox li .child li a {
              color: #000; }
            .header-background .container .navigation-wrapper .navigation-bar-wrapper .navigation-flexbox li .child li .grandchild {
              list-style: none;
              background-color: #fff; }
          .header-background .container .navigation-wrapper .navigation-bar-wrapper .navigation-flexbox li:hover .child {
            opacity: 1;
            visibility: visible; }
      .header-background .container .navigation-wrapper .navigation-bar-wrapper .social-icons {
        display: flex;
        justify-content: flex-end;
        width: 20%; }
        .header-background .container .navigation-wrapper .navigation-bar-wrapper .social-icons li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer; }

.backgroundclasss {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.commonclass {
  width: 100%;
  max-width: 825px;
  margin: 0 auto;
  background: #fff; }

.wrapper {
  padding: 0 90px; }

.close-icon {
  text-align: right; }
  .close-icon .icon-wrapper {
    padding: 0 10px; }

.header-section .header {
  padding: 20px 0 25px;
  text-align: center; }
  .header-section .header h1 {
    font-family: librebaskerville regular;
    font-weight: 400;
    letter-spacing: 0.5px; }

.buttons .button-wrapper {
  padding-bottom: 30px; }
  .buttons .button-wrapper .button-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%; }
    .buttons .button-wrapper .button-flexbox .btn {
      background: none;
      border: 1px solid #000000;
      text-decoration: none;
      border-radius: 0px;
      padding: 13px 20px;
      text-transform: uppercase;
      font-family: nunito regular;
      font-weight: 400;
      letter-spacing: 1px;
      width: 32.2%; }
    .buttons .button-wrapper .button-flexbox .btn-1 {
      background-color: #000000;
      color: #ffffff; }

.selection {
  border-top: 1px solid  #ededed;
  border-bottom: 1px solid  #ededed; }
  .selection .selection-wrapper {
    padding: 20px 0;
    height: 108px;
    overflow: auto; }
    .selection .selection-wrapper .selection-flexbox {
      display: flex;
      justify-content: space-between; }
      .selection .selection-wrapper .selection-flexbox .flex-item h4 {
        font-family: nunito regular;
        font-weight: 400; }
    .selection .selection-wrapper .product-names-wrapper {
      margin-top: 17px;
      width: 100%; }
      .selection .selection-wrapper .product-names-wrapper .product-names-wrapper-flex {
        display: flex;
        gap: 10px;
        flex-wrap: wrap; }
        .selection .selection-wrapper .product-names-wrapper .product-names-wrapper-flex .product {
          display: flex;
          border-radius: 50px;
          padding: 4px 10px;
          background-color: #e9e9e9; }
          .selection .selection-wrapper .product-names-wrapper .product-names-wrapper-flex .product span {
            font-family: nunito regular;
            font-weight: 400;
            color: #121121BF;
            letter-spacing: 0; }
          .selection .selection-wrapper .product-names-wrapper .product-names-wrapper-flex .product .cross {
            padding: 0 5px 0 14px; }

.images {
  height: 700px;
  overflow: auto; }
  .images .image-section {
    padding: 20px 0; }
    .images .image-section .images-flexbox {
      display: flex;
      flex-wrap: wrap;
      gap: 20px; }
      .images .image-section .images-flexbox .flexitem {
        width: calc(50% - 10px); }
        .images .image-section .images-flexbox .flexitem .image-wrapper {
          width: 312px; }
        .images .image-section .images-flexbox .flexitem .buttons .btn-1 {
          padding: 10px 0;
          background: #000000;
          color: #ffffff;
          border: 1px solid #000000;
          text-decoration: none;
          border-radius: 4px;
          width: 40%;
          font-family: nunito regular;
          font-weight: 400; }
        .images .image-section .images-flexbox .flexitem .buttons .btn-2 {
          padding: 15px 0;
          background: #000000;
          color: #ffffff;
          border: 1px solid #000000;
          text-decoration: none;
          border-radius: 0px;
          text-transform: uppercase;
          width: 100%;
          margin-top: 15px;
          font-family: nunito regular;
          font-weight: 400; }
        .images .image-section .images-flexbox .flexitem .product-name-price {
          margin: 20px 0 20px 10px; }
          .images .image-section .images-flexbox .flexitem .product-name-price h4 {
            font-family: librebaskerville regular;
            font-weight: 400; }
          .images .image-section .images-flexbox .flexitem .product-name-price p {
            margin: 10px 0 0;
            font-family: nunito regular;
            font-weight: 400; }

.text-section-wrapper {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 40px; }
  .text-section-wrapper .text-wrapper {
    width: calc(50% - 40px);
    margin: 0 auto;
    text-align: center;
    padding: 50px 0; }
    .text-section-wrapper .text-wrapper .p_2 {
      margin-top: 20px; }
    .text-section-wrapper .text-wrapper .text-section-button {
      display: inline-block;
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase;
      background: none;
      border: 1px solid black;
      padding: 10px 95px;
      margin-top: 50px; }

.accordion {
  width: 765px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  text-align: justify; }
  .accordion .heading {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    color: #1f8dd6; }

.accordion_head {
  padding: 20px 10px;
  width: 100%;
  background: #1f8dd6;
  border-bottom: 1px solid #ffffff;
  outline: none;
  color: #f3f3f3;
  font-size: 20px; }

.accordion_body {
  font-size: 20px;
  padding: 0 10px;
  background-color: #f3f3f3;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out; }

.accordion_body.active {
  max-height: 100px;
  padding: 10px; }

.accordion_head.active {
  background: #034672; }

.form-container .login_form {
  text-align: center;
  padding: 20px 0; }
  .form-container .login_form .username-wrapper {
    margin: 20px 0; }
  .form-container .login_form .password-wrapper {
    margin: 20px 0; }
  .form-container .login_form .input_tag {
    width: 25%;
    padding: 10px 0; }
  .form-container .login_form .submit_btn {
    padding: 10px 80px;
    background-color: #fff; }

.message {
  width: 33%;
  margin: 0 auto;
  display: none; }
  .message h3 {
    font-size: 35px;
    color: crimson;
    text-align: center; }
  .message .invalid {
    text-align: justify;
    font-size: 20px;
    padding: 0 50px;
    color: red; }
  .message .invalid::before {
    position: relative;
    left: -14px;
    content: "\2716"; }
  .message .valid {
    text-align: justify;
    font-size: 20px;
    padding: 0 50px;
    color: green; }
  .message .valid::before {
    position: relative;
    left: -14px;
    content: "\2714"; }

.description-tab {
  margin: 30px 0 20px; }
  .description-tab .description-tab-wrapper .product-description-tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .description-tab .description-tab-wrapper .product-description-tabs .product-tab {
      width: 33%;
      color: #000000; }
      @media screen and (max-width: 767px) {
        .description-tab .description-tab-wrapper .product-description-tabs .product-tab {
          width: 100%;
          padding: 8px 0; } }
      .description-tab .description-tab-wrapper .product-description-tabs .product-tab .product-btn {
        width: 100%;
        border: none;
        background: none;
        font-weight: 700;
        padding: 25px 0; }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          .description-tab .description-tab-wrapper .product-description-tabs .product-tab .product-btn {
            text-align: center;
            font-size: 11px; } }
        @media screen and (max-width: 767px) {
          .description-tab .description-tab-wrapper .product-description-tabs .product-tab .product-btn {
            text-align: left; } }
        .description-tab .description-tab-wrapper .product-description-tabs .product-tab .product-btn::after {
          content: ""; }
          @media screen and (max-width: 767px) {
            .description-tab .description-tab-wrapper .product-description-tabs .product-tab .product-btn::after {
              border: solid #817f7f;
              border-width: 0 3px 3px 0;
              padding: 3px;
              float: right;
              margin: 5px;
              -moz-transform: rotate(225deg);
              -o-transform: rotate(225deg);
              -ms-transform: rotate(225deg);
              -webkit-transform: rotate(225deg);
              transform: rotate(225deg); } }
      .description-tab .description-tab-wrapper .product-description-tabs .product-tab .product-btn.active {
        color: #ffffff;
        background-color: #a1a1a1; }
        .description-tab .description-tab-wrapper .product-description-tabs .product-tab .product-btn.active::after {
          content: ""; }
          @media screen and (max-width: 767px) {
            .description-tab .description-tab-wrapper .product-description-tabs .product-tab .product-btn.active::after {
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg); } }
      .description-tab .description-tab-wrapper .product-description-tabs .product-tab .accordian {
        display: none; }
      @media screen and (max-width: 767px) {
        .description-tab .description-tab-wrapper .product-description-tabs .product-tab .accordian.active {
          display: block;
          padding: 10px 0;
          border-bottom: 1px solid #e1e1e1cc; } }
    .description-tab .description-tab-wrapper .product-description-tabs .product-tab.active {
      border-bottom: 1px solid #000000;
      color: #ffffff;
      background-color: #a1a1a1; }
  @media screen and (max-width: 767px) {
    .description-tab .description-tab-wrapper .product-description-wrapper {
      display: none; } }
  .description-tab .description-tab-wrapper .product-description-wrapper .panel {
    display: none; }
    .description-tab .description-tab-wrapper .product-description-wrapper .panel .panel-body {
      padding: 25px 0 0; }
  .description-tab .description-tab-wrapper .product-description-wrapper .panel.active {
    display: block; }

.popup-background {
  background-color: #0006;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
  display: none; }
  .popup-background .popup-wrapper {
    width: 400px;
    height: 400px;
    background-color: #f0fff0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; }
    .popup-background .popup-wrapper .popup-box {
      text-align: center;
      width: 100%; }
      .popup-background .popup-wrapper .popup-box h1 {
        margin: 30px; }
      .popup-background .popup-wrapper .popup-box .button-wrapper {
        margin: 20px; }
        .popup-background .popup-wrapper .popup-box .button-wrapper .btn {
          width: calc(50% - 10px);
          padding: 15px;
          background: white;
          border: none;
          border-radius: 0; }

.popup-background.show {
  display: block; }

.collection-name {
  text-align: center; }
  .collection-name h1 {
    font-size: 60px;
    color: #ebcca5f7;
    font-family: librebaskerville regular;
    padding: 40px 0;
    text-transform: uppercase;
    font-weight: 400; }

/*product container*/
.product-page-wrapper {
  padding: 80px 100px;
  z-index: 1; }
  .product-page-wrapper .product-page-flexbox {
    display: flex;
    flex-wrap: wrap; }
    .product-page-wrapper .product-page-flexbox .product-flex-firstitem {
      width: 50%;
      overflow: hidden; }
      .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper {
        display: flex; }
        .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow {
          width: 20%; }
          .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow .carousel-nav {
            width: 300px;
            transform: rotate(90deg) translate(30px, -100%);
            transform-origin: left top; }
            @media screen and (max-width: 1200px) {
              .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow .carousel-nav {
                transform: rotate(90deg) translate(30px, -50%); } }
            .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow .carousel-nav .carousel-cell {
              transform: rotate(-90deg);
              width: 50%;
              height: 120px;
              cursor: pointer;
              margin-right: 1rem;
              /* selected cell */ }
              .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow .carousel-nav .carousel-cell.is-nav-selected {
                background: #ED2; }
            .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow .carousel-nav .image-wrapper {
              transform: rotate(-90deg); }
            .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow .carousel-nav .flickity-prev-next-button {
              width: 40px;
              height: 40px;
              background: transparent; }
              .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow .carousel-nav .flickity-prev-next-button.previous {
                left: -40px; }
              .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-slideshow .carousel-nav .flickity-prev-next-button.next {
                right: -40px; }
        .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-section {
          width: 80%; }
          .product-page-wrapper .product-page-flexbox .product-flex-firstitem .slideshow-image-wrapper .product-page-image-section .carousel-main .carousel-cell {
            width: 691px;
            height: 694px; }
    .product-page-wrapper .product-page-flexbox .product-flex-seconditem {
      width: 50%;
      padding: 0 80px; }
      .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-details-container .product-details {
        display: flex; }
        .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-details-container .product-details ul {
          list-style: none;
          display: flex;
          flex-direction: column; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-details-container .product-details ul .product-title {
            font-size: 40px;
            padding: 10px 0;
            font-family: librebaskerville regular;
            font-weight: 700; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-details-container .product-details ul .product-price {
            font-size: 30px;
            padding: 10px 0;
            font-family: "nunito regular"; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-details-container .product-details ul .product-description {
            font-size: 18px;
            padding: 10px 0;
            font-family: "nunito regular";
            color: #818181; }
      .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant {
        margin-bottom: 10px; }
        .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .product-option {
          font-size: 20px;
          font-family: "nunito regular";
          display: inline-block;
          padding-bottom: 10px; }
        .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper {
          display: inline-block;
          margin-right: 10px;
          cursor: pointer; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .radio-button {
            display: none; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .button-label.size-label {
            display: inline-block;
            padding: 15px 20px;
            background-color: #d5d5d5;
            font-size: 18px;
            font-family: "nunito regular";
            cursor: pointer; }
            .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .button-label.size-label:hover {
              background-color: #2a2a2aaa;
              color: #fff; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .button-label.size-label.active {
            background-color: #000;
            color: #fff;
            cursor: pointer; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .button-label.color-label {
            position: relative;
            height: 14px;
            width: 14px;
            border-radius: 100%;
            display: block;
            cursor: pointer; }
            .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .button-label.color-label::after {
              content: '';
              position: absolute;
              height: 20px;
              width: 20px;
              border-radius: 100%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
            .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .button-label.color-label:hover::after {
              display: block;
              border: 1px solid #000; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .button-label.color-label.active {
            border: 1px solid #000;
            cursor: pointer; }
            .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-variant .variant-choose .option-value-wrapper .button-label.color-label.active:after {
              content: '';
              border: 1px solid #000; }
      .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-options {
        margin-bottom: 10px; }
        .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .product-options .product-select {
          width: 50%;
          padding: 5px 10px;
          font-size: 18px;
          font-family: "nunito regular"; }
      .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .productquantity .qtylabel {
        font-size: 20px;
        font-family: "nunito regular";
        margin-bottom: 5px; }
      .product-page-wrapper .product-page-flexbox .product-flex-seconditem .product-variants-container .productquantity .qtyinput {
        width: 25%;
        padding: 5px 10px;
        font-size: 18px; }
      .product-page-wrapper .product-page-flexbox .product-flex-seconditem .second_item_buttons {
        margin: 15px 0 0; }
        .product-page-wrapper .product-page-flexbox .product-flex-seconditem .second_item_buttons .butons-flexbox-wrapper .butons-flexbox {
          display: flex;
          flex-wrap: wrap;
          gap: 20px; }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .second_item_buttons .butons-flexbox-wrapper .butons-flexbox .btn-wrapper {
            width: calc(50% - 10px); }
          .product-page-wrapper .product-page-flexbox .product-flex-seconditem .second_item_buttons .butons-flexbox-wrapper .butons-flexbox .btn {
            width: 100%;
            padding: 10px 0;
            background-color: #000;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-family: "nunito regular";
            font-weight: 700;
            border-radius: none; }

.cart-page-width {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

.cart-page-wrapper .cart-page-content .cart-page-header-wrapper {
  background-color: #f3f3f3; }
  .cart-page-wrapper .cart-page-content .cart-page-header-wrapper .cart-item-header .item-data {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none; }
    .cart-page-wrapper .cart-page-content .cart-page-header-wrapper .cart-item-header .item-data .item-data-li {
      padding: 20px 40px;
      font-size: 20px;
      font-family: 'nunito regular';
      font-weight: 700;
      width: 25%;
      text-transform: uppercase; }

.items {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 20px 0 40px; }
  .items .item-li {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px; }
    .items .item-li:last-child {
      margin-bottom: 0; }
    .items .item-li .item-data {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      text-align: end; }
      .items .item-li .item-data .item-image-wrapper {
        width: 100px; }
      .items .item-li .item-data .item-details h3 {
        font-size: 18px;
        font-family: "librebaskerville regular"; }
      .items .item-li .item-data .item-details .item-options {
        list-style: none; }
        .items .item-li .item-data .item-details .item-options .option {
          font-size: 18px;
          font-family: "nunito regular"; }
      .items .item-li .item-data .item-details .item-remove-button .remove-btn {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        font-family: 'nunito regular';
        font-weight: 700;
        cursor: pointer; }
    .items .item-li .item-price .price-of-item {
      font-size: 20px;
      font-family: 'nunito regular'; }
    .items .item-li .quantity-box .qty_btn {
      font-size: 20px;
      font-weight: 700;
      background: black;
      color: #fff;
      padding: 0px 15px;
      cursor: pointer; }
    .items .item-li .quantity-box .item-qty {
      width: 33%;
      text-align: center;
      font-size: 20px; }
    .items .item-li .item-total .total-item-price {
      font-size: 20px;
      font-family: 'nunito regular'; }
    .items .item-li .item-data-width {
      width: 25%; }

.cart-end-wrapper .update_totalprice_wrapper {
  display: flex;
  justify-content: space-between; }
  .cart-end-wrapper .update_totalprice_wrapper .update_btn_wrapper {
    text-align: left;
    padding: 0 0 0 25px; }
    .cart-end-wrapper .update_totalprice_wrapper .update_btn_wrapper .update_btn {
      padding: 5px 50px;
      font-size: 20px;
      font-family: 'nunito regular';
      background: none;
      border: 1px solid black;
      text-transform: uppercase; }
      .cart-end-wrapper .update_totalprice_wrapper .update_btn_wrapper .update_btn:hover {
        background-color: #000;
        color: #fff; }
  .cart-end-wrapper .update_totalprice_wrapper .total-price-wrapper {
    width: 25%; }
    .cart-end-wrapper .update_totalprice_wrapper .total-price-wrapper .total_price {
      font-size: 20px;
      font-family: 'nunito regular';
      font-weight: 700;
      text-align: center; }

.side-cart-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #000; }
  .side-cart-wrapper .side_cart_width {
    width: 600px; }
    .side-cart-wrapper .side_cart_width .side_cart {
      height: 100vh;
      overflow: auto;
      padding: 10px; }
      .side-cart-wrapper .side_cart_width .side_cart .side-cart-flex {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .side-cart-wrapper .side_cart_width .side_cart .side-cart-flex .head h3.cart-title {
          color: white;
          text-align: center;
          padding: 10px; }
        .side-cart-wrapper .side_cart_width .side_cart .side-cart-flex .close-btn .close-wrapper a {
          color: white;
          transform: rotate(45deg);
          font-size: 50px;
          display: inline-block;
          cursor: pointer; }
    .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li {
      margin-bottom: 10px;
      padding: 20px; }
      .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-data {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px; }
        .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-data .item-image {
          width: 50%; }
          .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-data .item-image .item-image-wrapper {
            width: 150px; }
        .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-data .item-details {
          color: white;
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-data .item-details h3.item-title {
            text-align: right; }
          .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-data .item-details .item-options {
            list-style: none;
            text-align: right; }
          .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-data .item-details .item-remove {
            text-align: right; }
            .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-data .item-details .item-remove .remove_btn {
              text-decoration: none;
              color: white;
              cursor: pointer; }
      .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-price-details {
        color: white;
        display: flex;
        flex-wrap: wrap; }
        .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-price-details .item-price-details-width {
          width: 33%; }
        .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-price-details .item-price {
          text-align: left; }
        .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-price-details .quantity-box {
          text-align: center; }
          .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-price-details .quantity-box .item-qty {
            width: 50%; }
          .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-price-details .quantity-box .qplus {
            cursor: pointer; }
          .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-price-details .quantity-box .qminus {
            cursor: pointer; }
        .side-cart-wrapper .side_cart_width .side-cart-content .items .items-li .item-price-details .item-total {
          text-align: right; }

.side-cart-drawer {
  display: none; }

