<div class="accordion">
  <div class="heading">
    <h1>Accordion</h1>
  </div>
  <div class="accordion_item">
    <button class="accordion_head">Accordion 1</button>
    <div class="accordion_body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. At omnis aliquam beatae natus placeat, quo, repellendus assumenda illum porro tenetur inventore rerum! Vero libero corporis possimus et autem molestias repellendus quas neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis porro nostrum commodi corporis veniam. Blanditiis aliquid dolorem fugit hic tempora expedita quidem sequi magnam vel, in ad itaque officia quo inventore nemo quas exercitationem.</div>
  </div>
  <div class="accordion_item">
    <button class="accordion_head">Accordion 2</button>
    <div class="accordion_body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. At omnis aliquam beatae natus placeat, quo, repellendus assumenda illum porro tenetur inventore rerum! Vero libero corporis possimus et autem molestias repellendus quas neque.</div>
  </div>
  <div class="accordion_item">
    <button class="accordion_head">Accordion 3</button>
    <div class="accordion_body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. At omnis aliquam beatae natus placeat, quo, repellendus assumenda illum porro tenetur inventore rerum! Vero libero corporis possimus et autem molestias repellendus quas neque.</div>
  </div>
  <div class="accordion_item">
    <button class="accordion_head">Accordion 4</button>
    <div class="accordion_body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. At omnis aliquam beatae natus placeat, quo, repellendus assumenda illum porro tenetur inventore rerum! Vero libero corporis possimus et autem molestias repellendus quas neque.</div>
  </div>
</div>