<!--cart template-->
<div class="cart-page-wrapper">
    <div class="cart-page-content">
        <form action="/cart"class="cartform"method="post">
            <div class="cart-page-header-wrapper">
                <div class="cart-page-width">
                    <div class="cart-item-header">
                        <ul class="item-data">
                            <li class="item-data-li product-title">Product</li>
                            <li class="item-data-li product-detail">Price</li>
                            <li class="item-data-li product-detail">Quantity</li>
                            <li class="item-data-li product-detail">Total</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cart-items-wrapper">
                    {% if cart.item_count == 0 %}
                        <div class="emptycart">
                            Cart is empty!!
                        </div>
                    {% else %} {
                        {% include 'cart-snippet' %}
                    }
                    {% endif %}
            </div>
            <div class="cart-end-wrapper">
                <div class="cart-page-width">
                    <div class="update_totalprice_wrapper">
                        <div class="update_btn_wrapper">
                            <button class="update_btn">Update</button>
                        </div>
                        <div class="total-price-wrapper">
                            <p class="total_price">
                                {{ cart.total_price | money }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
  window.cart = {{ cart | json }};
</script>