<style>
  .header-section {
    background:{{section.settings.background_color}};
  }
  .header-section .header h1 {
    font-size:{{section.settings.font_size}}px;
  }
  .buttons .button-flexbox .btn {
        font-size: {{section.settings.button_font_size}}px;
    }

    .selection-flexbox .flex-item h4 {
        font-size:{{section.settings.your_selection_fontsize}}px ;
    }
    .product-names-wrapper-flex .product span {
        font-size:{{ section.settings.product_font_size}}px ;
    }
    
</style>

<!-- Demo Popup -->
<div class="backgroundclasss">
  <div class="commonclass">
    <div class="close-icon">
      <div class="icon-wrapper">
        <svg
          fill="#000000"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24px"
          height="24px"
        >
          <path
            d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
          />
        </svg>
      </div>
    </div>
    <header class="header-section">
      <div class="wrapper">
        <div class="header">
          <h1>{{ section.settings.heading }}</h1>
        </div>
      </div>
    </header>

    <div class="buttons">
      <div class="wrapper">
        <div class="button-wrapper">
          <div class="button-flexbox">
            {% unless section.settings.button1_text == blank %}
            <button href="{{ section.settings.button1_url }}" class="btn btn-1">
              {{ section.settings.button1_text }}
            </button>
            {% endunless %}

            {% unless section.settings.button2_text == blank %}
            <button href="{{ section.settings.button2_url }}" class="btn btn-2">
              {{ section.settings.button2_text }}
            </button>
            {% endunless %} 
            
            {% unless section.settings.button3_text == blank %}
            <button href="{{ section.settings.button3_url }}" class="btn btn-3">
              {{ section.settings.button3_text }}
            </button>
            {% endunless %}
          </div>
        </div>
      </div>
    </div>

    <div class="selection">
      <div class="wrapper">
        <div class="selection-wrapper">
          <div class="selection-flexbox">
            <div class="flex-item flex-item1">
              <h4>{{ section.settings.your_selection }}</h4>
            </div>
            <div class="flex-item flex-item2">
              <h4>Total : Rs.{{ section.settings.price }}</h4>
            </div>
          </div>
          <div class="product-names-wrapper">
            <div class="product-names-wrapper-flex">
              {% unless section.settings.product_1_name == blank %}
              <div class="product">
                <span>{{ section.settings.product_1_name }}</span>
                <div class="cross">
                  <div class="cross-icon-wrapper">
                    <svg
                      fill="#121121BF"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="10px"
                      height="10px"
                    >
                      <path
                        d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              {% endunless %} 
              {% unless section.settings.product_2_name == blank %}
              <div class="product">
                <span>{{ section.settings.product_2_name }}</span>
              </div>
              {% endunless %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="images">
      <div class="wrapper">
        <div class="image-section">
          <div class="images-flexbox">
            {% for block in section.blocks %}
            <style>
            .images-flexbox .flexitem .buttons .btn-1 {
             font-size:{{block.settings.btn_text_font_size}}px ;
            }
            .images-flexbox .flexitem .buttons .btn-2 {
            font-size:{{block.settings.btn_text_font_size}}px ;
            }
            .images-flexbox .flexitem .product-name-price h4 {
            font-size:{{block.settings.product_fontsize}}px ;
            }
            .images-flexbox .flexitem .product-name-price p {
              font-size:{{block.settings.product_fontsize}}px ;
            }
            </style>
            <div class="flexitem">
              <div class="image-wrapper">
                {%- if block.settings.image != blank -%}
                    {%- render 'srcset', 
                    src_alt:block.settings.image.alt,
                    src_name:block.settings.image,
                    load_blur:true 
                    -%}
                {%- endif -%}
              </div>
              <div class="product-name-price">
                <h4>{{ block.settings.product_title }}</h4>
                <p>{{ block.settings.product_price }}</p>
              </div>
              <div class="buttons">
                <div class="button-1">
                  {% unless block.settings.btn_1_text == blank %}
                  <button class="btn-1">{{ block.settings.btn_1_text }}</button>
                  {% endunless %}
                </div>
                <div class="button-2">
                  {% unless block.settings.btn_2_text == blank %}
                  <button class="btn-2">{{ block.settings.btn_2_text }}</button>
                  {% endunless %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{  
    "name": "Heading",
    "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Head"
    },
    {
      "type": "number",
      "id": "font_size",
      "label": "Font Size"
    },
    {
      "type":"color",
      "id":"background_color",
      "label":"Background-color"
    },
    {
      "type":"url",
      "id":"button1_url",
      "label":"Button-1 url"
    },
    {
      "type":"text",
      "id":"button1_text",
      "label":"Button-1 text"
    },
    {
      "type":"url",
      "id":"button2_url",
      "label":"Button-2 url"
    },
    {
      "type":"text",
      "id":"button2_text",
      "label":"Button-2 text"
    },
    {
      "type":"url",
      "id":"button3_url",
      "label":"Button-3 url"
    },
    {
      "type":"text",
      "id":"button3_text",
      "label":"Button-3 text"
    },
    {
      "type":"number",
      "id":"button_font_size",
      "label":"Font Size"
    },
    {
        "type":"header",
        "content":"Selection-Bar"
    },
    {
      "type":"text",
      "id":"your_selection",
      "label":"Your Selection"
    },
    {
      "type":"header",
      "content":"Products"
    },
    {
      "type":"text",
      "id":"product_1_name",
      "label":"Product-1"
    },
    {
      "type":"text",
      "id":"product_2_name",
      "label":"Product 2"
    },
    {
      "type":"header",
      "content":"Price"
    },
    {
      "type":"text",
      "id":"price",
      "label":"Price"
    },
    {
      "type":"header",
      "content":"Font Size"
    },
    {
      "type":"number",
      "id":"your_selection_fontsize",
      "label":"selection font size"
    },
    {
      "type":"number",
      "id":"product_font_size",
      "label":"product font size"
    }
    
  ],
  
  "blocks": [
    {
        "name": "Product Details",
        "type":"text",
        "settings": [ 
        {
          "type":"header",
          "content":"Product-details"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Choose an image"
        },
        {
            "type":"text",
            "id":"product_title",
            "label":"product_title"
        },
        {
            "type":"text",
            "id":"product_price",
            "label":"product_price"
        },
        {
            "type":"header",
            "content":"Buttons"
        },
        {
            "type":"text",
            "id":"btn_1_text",
            "label":"Button 1"
        },
        {
            "type":"text",
            "id":"btn_2_text",
            "label":"Button 2"
        },
        {
            "type":"header",
            "content":"Font Size"
        },
        {
            "type":"number",
            "id":"product_fontsize",
            "label":"Font size"
        },
        {
            "type":"header",
            "content":"Buttons Font Size"
        },
        {
            "type":"number",
            "id":"btn_text_font_size",
            "label":"Font Size Button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"Demo page",
      "category":"Demo page"
    }
  ]
}
{% endschema %}