<style lang="scss">
  {% assign header_font = settings.header_font_new %}
  {{ header_font | font_face }}
  $font-stack-header: {{ header_font.family }},{{ header_font.fallback_families }};
  .navigation-flexbox li a {    
    font-family: $font-stack-header;
  }
</style>
<header class="header-background">
    <div class="container">
      <div class="navigation-wrapper">
        <div class="navigation-bar-wrapper">
          <ul class="navigation-flexbox">
            {% for link in linklists[section.settings.menu1].links %}  {% comment %}loop for link in linklists{% endcomment %}
              <li><a href="#">{{link.title}}</a>
                {% if link.links != blank %}
                  <ul class="child">
                    {% for child_link in link.links %}  
                      <li><a href= "{{ child_link.url }}">{{ child_link.title }}</a>
                        {% if child_link.links != blank %}
                          <ul class="grandchild">
                            {% for grandchild_link in child_link.links %}  
                              <li><a href= "{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                            {% endfor %}
                          </ul>
                        {% endif %}   
                      </li>
                    {% endfor %}
                  </ul> 
                {% endif %} 
              </li>
            {% endfor %}
          </ul>
          <ul class="social-icons">
            <li class = "cart">{% render 'cart-icon' %}</li>
          </ul>
        </div>
      </div>
    </div>  
  </header>

  
  {% schema %}
  {
    "name":"Header",
    "settings":[
    {
      "type": "link_list",
      "id": "menu1",
      "label": "Main-Menu"
    } ],
    "presets": [
      {
        "category": "slider",
        "name":"Slider"
      }
    ]
  }
  {% endschema %}