<div class="form-container">
    <form action="" class="login_form">
        <div class="username-wrapper">
            <label for="username">Username</label>
            <input type="text" id="username"class="input_tag" name="username" required>
        </div>
        <div class="password-wrapper">
            <label for="pswd">Password</label>
            <input type="password" id="pswd"class="input_tag" name="pswd" required>
        </div>
        <div id="submit-btn-wrapper">
            <input type="submit" value="Submit"class="submit_btn">
        </div>
    </form>
    <div class="message">
        <h3>Password must contain the following:</h3>
        <p class="letter invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>
</div>