

<div class="text-section-wrapper">
   
    {% for block in section.blocks %}
    <style>
        .text-wrapper .text-section-p {
            font-size:{{block.settings.text_font_size}}px;
            color:{{block.settings.text_color}};
        }
    </style>
    <div class="text-wrapper">
        <p class="text-section-p p_1">{{block.settings.text_section_text_1}}</p>
        <p class="text-section-p p_2">{{block.settings.text_section_text_2}}</p>
        {% unless block.settings.btn_text == blank %}
        <a class="text-section-button" href={{block.settings.btn_url}}>{{block.settings.btn_text}}</a>
        {% endunless %}
    </div>
    {% endfor %}
</div>
{% schema %}
{   
    "name":"Text section",
    "settings":[
    ],
    "blocks": [
        {
            "name":"Text-section",
            "type":"block",
            "settings":[
            {
                "type":"textarea",
                "id":"text_section_text_1",
                "label":"Text"
            },
            {
                "type":"textarea",
                "id":"text_section_text_2",
                "label":"Text"
            },
            {
                "type":"number",
                "id":"text_font_size",
                "label":"Font Size"
            },
            {
                "type":"color",
                "id":"text_color",
                "label":"Font Color"
            },
            {
                "type":"text",
                "id":"btn_text",
                "label":"Button Text"
            },
            {
                "type":"url",
                "id":"btn_url",
                "label":"Button URL"
            }]
        }
    ],
    "presets": [
        {
        "name":"Demo page",
        "category":"Demo page"
        }
    ]
}
{% endschema %}














