<div class="side-cart-drawer">
    <div class="side-cart-wrapper">
        <div class="side_cart_width">
            <div class="side_cart">
                <div class="side-cart-header">
                    <div class="side-cart-flex">
                        <div class="head">
                            <h3 class="cart-title">Cart</h3>
                        </div>
                        <div class="close-btn">
                            <div class="close-wrapper">
                               <a> + </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="side-cart-content">
                    <ul class="items" id="product-side-cart" >
                        {% for item in cart.items %}
                            <li class="items-li">
                                <div class="item-data"> 
                                    <div class="item-image">
                                        <div class="item-image-wrapper">
                                            <img src="{{ item.image | img_url: 'master'}}" alt="{{ item.title }}" onclick="history.back();">
                                        </div>
                                    </div>
                                    <div class="item-details">
                                        <h3 class="item-title">{{ item.title }}</h3>
                                        <ul class="item-options">
                                            {% for option in item.options_with_values %}
                                            <li class="item-option-with-value">
                                                <span>{{ option.name }} : </span><span>{{ option.value}}</s pan>
                                            </li>
                                            {% endfor%}
                                        </ul>
                                        <div class="item-remove" id={{ item.id }}>
                                            <a href="#" class="remove-btn remove_btn" title="Remove item" data-id="{{ item.id }}">Remove</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-price-details">
                                    <div class="item-price-details-width item-price">
                                        <P class="price_of_item">{{ item.price | money}}</P>
                                    </div>
                                    <div class="item-price-details-width quantity-box">
                                        <span class="qplus" data-id ="{{ item.id }}">+</span>
                                        <input type="number" class ="item-qty" id="{{ item.id }}" value="{{ item.quantity}}">
                                        <span class="qminus" data-id ="{{ item.id }}">-</span>
                                    </div>
                                    <div class="item-price-details-width item-total">
                                        <P class="total_of_item">{{item.line_price| money}}</P>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.cart = {{ cart | json }};
</script>