<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<!-- <div class="collection-name">
    {% assign collection = collections['test-collection'] %}
    <h1>{{ collection.title }}</h1>
</div> -->
<div class="product-container">
    <div class="product-page-wrapper">
        <div class="product-page-flex-wrapper">
            <div class="product-page-flexbox">
                <div class="product-flex-firstitem">
                    <div class="slideshow-image-wrapper">
                        <div class="product-page-image-slideshow">
                            <div class="carousel carousel-nav" data-flickity='{
                                "asNavFor": ".carousel-main",                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
                                "draggable": false,
                                "percentPosition": false,
                                "groupCells": "10%",
                                "wrapAround":true,
                                "pageDots": false
                              }' >
                                <div class="carousel-cell">
                                    <div class="image-wrapper">
                                        <img src="{{ product | img_url: "master" }}" />  
                                    </div>
                                </div>
                                <div class="carousel-cell">
                                    <div class="image-wrapper">
                                        <img src="{{ product | img_url: "master" }}" />  
                                    </div>
                                </div>
                                <div class="carousel-cell">
                                    <div class="image-wrapper">
                                        <img src="{{ product | img_url: "master" }}" />  
                                    </div>
                                </div>
                                <div class="carousel-cell">
                                    <div class="image-wrapper">
                                        <img src="{{ product | img_url: "master" }}" />  
                                    </div>
                                </div>
                            </div>                               
                        </div>
                        <div class="product-page-image-section">
                            <div class="carousel carousel-main"data-flickity='{
                                "contain": true,
                                "pageDots": true,
                                "groupCells": "100%",
                                "wrapAround":true,
                                "prevNextButtons":false
                                }'>
                                <div class="carousel-cell">
                                    <div class="image-wrapper">
                                        <img src="{{ product | img_url: "master" }}" />  
                                    </div>
                                </div>
                                <div class="carousel-cell">
                                    <div class="image-wrapper">
                                        <img src="{{ product | img_url: "master" }}" />  
                                    </div>
                                </div>
                                <div class="carousel-cell">
                                    <div class="image-wrapper">
                                        <img src="{{ product | img_url: "master" }}" />  
                                    </div>
                                </div>
                                <div class="carousel-cell">
                                    <div class="image-wrapper">
                                        <img src="{{ product | img_url: "master" }}" />  
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="product-flex-seconditem">
                    <div class="product-details-container">
                        <div class="product-details">
                            <ul>
                                <li class="product-title">{{ product.title }}</li>
                                <li class="product-price">{{ product.price | money }}</li>
                                <li class="product-description">{{ product.description }}</li>
                            </ul>   
                        </div>
                    </div>
                    <form class="product-form ajaxcart" action="/cart/add" data-productid="{{product.id}}"id="AddToCartForm" enctype="multipart/form-data"method="post">
                        <div class="product-variants-container">
                            {% for product_option in product.options_with_values %} <!--Here product_option is options in products such size,color etc-->
                            <!--this loop will fetch all the product_option from options_with_values which is inside product thats why its written as product.options_with_values-->
                                <div class="product-variant product-{{ product_option.name | downcase }}">
                                    <span class="product-option">{{ product_option.name }}</span>
                                    <div class="variant-choose {{ product_option.name | downcase }}-choose">
                                        {% for value in product_option.values %}<!--This loop will fetch all the values from values inside product_option-->
                                        <!--eg:product_option = size ; product_option.value = L,M,XL,XXL ; product_option = color ; product_option.value = red,green,blue-->
                                            <div class="option-value-wrapper">
                                                <input type="radio" class="radio-button {{ product_option.name | downcase }} {{ value | downcase | replace: " ", "-"
                                                    }}" id="{{ value | downcase | replace: " ", "-" }}" name="{{ product_option.name | downcase }}"
                                                    value="{{ value }}" {% if product_option.selected_value==value %}checked{% endif %}>
                                                <label class="button-label {{ value | downcase | replace: " ", "-" }}" for="{{ value | downcase | replace: " ", "-"}}" 
                                                style="background-color:{{ value | downcase }};">
                                                    {% if product_option.name == "Size" %}{{ value }}{% else %}{% endif %}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if product.variants.size > 1 %} <!--product.variants.size : no.of sizes available --> 
                                <div class="product-options">
                                    <select name="id" data-productid="{{product.id}}" id="product-select" class="product-select">
                                        {% for variant in product.variants %} <!--this will fetch variant from variants availabel in product-->
<!--we are passing the variant.id as value to #product-select in js once variant id matched to any option value then the name of respective variant title will be shown -->
                                            <option {% if variant==product.selected %} selected="selected" {% endif %}class="option" value="{{ variant.id }}">{{
                                            variant.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                            <div class="productquantity">
                                <label for="qty" class="qtylabel">Quantity : </label>
                                <input type="number" class="qtyinput"id="qty" placeholder="1" value="1">
                            </div>
                        </div>
                        <div class="second_item_buttons">
                            <div class="butons-flexbox-wrapper">
                                <div class="butons-flexbox">
                                    <div class="addtocart-button btn-wrapper">
                                        <input type="submit" class="btn" value="{{ 'products.product.add_to_cart' | t }}"/>
                                    </div>
                                    <div class="addtowishlist-button btn-wrapper">
                                        <input type="button" class="btn" value="Add to Whishlist"/>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    myCurrentProduct = {{ product | json }}; 
</script>
