{% capture email_title %}Thank you for your purchase! {% endcapture %}
{% capture email_body %}
{% if requires_shipping %}
Hi {{ customer.first_name }}, we're getting your order ready to be shipped. We will notify you when it has been sent.
{% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ email_title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/notifications/styles.css">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <style>
    body{
      font-family: "Montserrat",sans-serif;
    }
    .button__cell { 
      background: #000;
      border:1px solid #000;
      color: #fff; 
    }
    .button_cell:hover{
      background: transparent;
      color: #000;
    }
    a{
      color: #000 
    }

    a:hover, a:active, a:visited{
      color: #fff;
    }

    ul{
      list-style: none;
      padding:10px 0;
      text-align: center;
    }
    li{
      text-align: center;
      padding: 10px 0;
      display: inline-block;
    }

    .email-header{
      text-align: center;
    }

    .email-header .logo-wrap{
      margin: 15px 0;
      text-transform: uppercase;
    }

    .email-header .email-topbar p{
      color: #fff;
      font-size: 12px;
      margin: 0;
      background: #000;
      text-transform: uppercase;
      padding: 10px;
      letter-spacing: 2px;
    }

    .email-footer .eamil-footer-menu-wrap ul {
      background: #000;
    }

    .email-footer .eamil-footer-menu-wrap li {
      padding: 10px;
    }

    .email-footer .eamil-footer-menu-wrap li a {
      font-size: 12px;
      text-align: center;
      display: block;
      width:100%;
      color: #fff;
      text-transform: uppercase;
    }

    .email-footer .footer-social-icon ul li{
      padding: 10px;
    }

    .email-footer .footer-social-icon ul li a{
      display: block;
      width: 25px;
    }

    .email-footer .copyright-and-address-wrap {
      text-align: center;
    }

    .email-footer .copyright-and-address-wrap p{
      font-size: 14px;
      margin: 10px 0;
    }

    .email-footer-bottom ul{
      list-style: none;
      padding:10px 0;
      text-align: center;
    }

    .email-footer-bottom ul li{
      display: inline-block;
    }

    .email-footer-bottom ul li a{
      text-transform: capitalize;
      font-size: 14px;
      color: #808080;
      display: block;
      padding: 0 10px;
    }

    .email-footer-bottom ul li a.unscubire{
      border-right: 1px solid #808080;      
    }

    @media screen and (max-width: 767px){

      .email-footer .eamil-footer-menu-wrap li {
        display: block;
        width: 100%;
      }

      .email-header .email-topbar p{
        font-size: 12px;
      }

    }
  </style>
</head>

<body>

  <div class="email-header">
    <div class="logo-wrap">
      <a href="/" title="{{ shop.name }}" tabindex="0">
        {%- if shop.email_logo_url %}
        <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
        {%- else %}
        <h1 class="shop-name__text">
          <a href="{{shop.url}}?utm_source=tran&utm_medium=email&utm_campaign=contact_customer">{{ shop.name }}</a>
        </h1>
        {%- endif %}
      </a>  
    </div>
    <div class="email-topbar">
      <p class="topbar">free shipping on u.s. continental orders</p>
    </div>
<br/>
  </div>

  <table class="body">
    <tr>
      <td>
        <table class="header row">
          <tr>
            <td class="header__cell">
              <center>

                <table class="container">
                  <tr>
                    <td>

                      <table class="row">
                        <tr>
                          <td class="shop-name__cell">
                            {%- if shop.email_logo_url %}
                            <img src="{{shop.email_logo_url}}" alt="{{ shop.name }}" width="{{ shop.email_logo_width }}">
                            {%- else %}
                            <h1 class="shop-name__text">
                              <a href="{{shop.url}}">{{ shop.name }}</a>
                            </h1>
                            {%- endif %}
                          </td>

                          <td class="order-number__cell">
                            <span class="order-number__text">
                              Order {{ order_name }}
                            </span>
                          </td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

              </center>
            </td>
          </tr>
        </table>

        <table class="row content">
          <tr>
            <td class="content__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>

                      <h2>{{ email_title }}</h2>
                      <p>{{ email_body }}</p>
                      {% if order_status_url %}
                      <table class="row actions">
                        <tr>
                          <td class="empty-line"> </td>
                        </tr>
                        <tr>
                          <td class="actions__cell">
                            <table class="button main-action-cell">
                              <tr>
                                <td class="button__cell"><a href="{{ order_status_url }}" class="button__text">View your order</a></td>
                              </tr>
                            </table>
                            {% if shop.url %}
                            <table class="link secondary-action-cell">
                              <tr>
                                <td class="link__cell">or <a href="{{ shop.url }}">Visit our store</a></td>
                              </tr>
                            </table>
                            {% endif %}

                          </td>
                        </tr>
                      </table>

                      {% else %}
                      {% if shop.url %}
                      <table class="row actions">
                        <tr>
                          <td class="actions__cell">
                            <table class="button main-action-cell">
                              <tr>
                                <td class="button__cell"><a href="{{ shop.url }}" class="button__text">Visit our store</a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                      {% endif %}

                      {% endif %}

                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>

        <table class="row section">
          <tr>
            <td class="section__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>
                      <h3>Order summary</h3>
                    </td>
                  </tr>
                </table>
                <table class="container">
                  <tr>
                    <td>


                      <table class="row">
                        {% for line in subtotal_line_items %}
                        <tr class="order-list__item">
                          <td class="order-list__item__cell">
                            <table>
                              <td>
                                {% if line.image %}
                                <img src="{{ line | img_url: 'compact_cropped' }}" align="left" width="60" height="60" class="order-list__product-image"/>
                                {% endif %}
                              </td>
                              <td class="order-list__product-description-cell">
                                {% if line.product.title %}
                                {% assign line_title = line.product.title %}
                                {% else %}
                                {% assign line_title = line.title %}
                                {% endif %}

                                {% if line.quantity < line.quantity %}
                                {% capture line_display %} {{ line.quantity }} of {{ line.quantity }} {% endcapture %}
                                {% else %}
                                {% assign line_display = line.quantity %}
                                {% endif %}

                                <span class="order-list__item-title">{{ line_title }} × {{ line_display }}</span><br/>

                                {% if line.variant.title != 'Default Title' %}
                                <span class="order-list__item-variant">{{ line.variant.title }}</span><br/>
                                {% endif %}

                                {% if line.refunded_quantity > 0 %}
                                <span class="order-list__item-refunded">Refunded</span>
                                {% endif %}

                                {% if line.discount_allocations %}
                                {% for discount_allocation in line.discount_allocations %}
                                {% if discount_allocation.discount_application.target_selection != 'all' %}
                                <span class="order-list__item-discount-allocation">
                                  <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                                  <span>
                                    {{ discount_allocation.discount_application.title | upcase }}
                                    (-{{ discount_allocation.amount | money }})
                                  </span>
                                </span>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                              </td>
                              <td class="order-list__price-cell">
                                {% if line.original_line_price != line.final_line_price %}
                                <del class="order-list__item-original-price">{{ line.original_line_price | money }}</del>
                                {% endif %}
                                <p class="order-list__item-price">
                                  {% if line.final_line_price > 0 %}
                                  {{ line.final_line_price | money }}
                                  {% else %}
                                  Free
                                  {% endif %}
                                </p>
                              </td>
                            </table>
                          </td>
                        </tr>{% endfor %}
                      </table>

                      <table class="row subtotal-lines">
                        <tr>
                          <td class="subtotal-spacer"></td>
                          <td>
                            <table class="row subtotal-table">
                              {% for discount_application in discount_applications %}
                              {% if discount_application.target_selection == 'all' %}
                              {% capture discount_title %}
                              {% if discount_application.title %}
                              {{ discount_application.title | upcase }}
                              {% else %}
                              Discount
                              {% endif %}
                              {% endcapture %}

                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>Discount</span>
                                    <span class="subtotal-line__discount">
                                      <img src="{{ 'notifications/discounttag.png' | shopify_asset_url }}" width="18" height="18" class="discount-tag-icon" />
                                      <span class="subtotal-line__discount-title">{{ discount_title }}</span>
                                    </span>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>-{{ discount_application.total_allocated_amount | money }}</strong>
                                </td>
                              </tr>

                              {% endif %}
                              {% endfor %}


                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>Subtotal</span>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>{{ subtotal_price | money }}</strong>
                                </td>
                              </tr>


                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>Shipping</span>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>{{ shipping_price | money }}</strong>
                                </td>
                              </tr>


                              {% if total_duties %}

                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>Duties</span>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>{{ current_total_duties | money }}</strong>
                                </td>
                              </tr>

                              {% endif %}


                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>Taxes</span>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>{{ tax_price | money }}</strong>
                                </td>
                              </tr>


                              {% if total_tip and total_tip > 0 %}

                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>Tip</span>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>{{ total_tip | money }}</strong>
                                </td>
                              </tr>

                              {% endif %}
                            </table>
                            <table class="row subtotal-table subtotal-table--total">

                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>Total</span>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>{{ total_price | money_with_currency }}</strong>
                                </td>
                              </tr>

                            </table>

                            {% if total_discounts > 0 %}
                            <p class="total-discount">
                              You saved <span class="total-discount--amount">{{ total_discounts | money }}</span>
                            </p>
                            {% endif %}

                            {% assign transaction_size = 0 %}
                            {% assign transaction_amount = 0 %}
                            {% for transaction in transactions %}
                            {% unless transaction.kind == "capture" or transaction.kind == "void" %}
                            {% assign transaction_size = transaction_size | plus: 1 %}
                            {% assign transaction_amount = transaction_amount | plus: transaction.amount %}
                            {% endunless %}
                            {% endfor %}

                            {% if transaction_size > 1 or transaction_amount < total_price %}
                            <table class="row subtotal-table">
                              <tr><td colspan="2" class="subtotal-table__line"></td></tr>
                              <tr><td colspan="2" class="subtotal-table__small-space"></td></tr>

                              {% for transaction in transactions %}
                              {% if transaction.status == "success" and transaction.kind == "authorization" or transaction.kind == "sale" %}
                              {% if transaction.payment_details.credit_card_company %}
                              {% capture transaction_name %}{{ transaction.payment_details.credit_card_company }} (ending in {{ transaction.payment_details.credit_card_last_four_digits }}){% endcapture %}
                              {% else %}
                              {% capture transaction_name %}{{ transaction.gateway_display_name }}{% endcapture %}
                              {% endif %}


                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>{{transaction_name}}</span>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>{{ transaction.amount | money }}</strong>
                                </td>
                              </tr>

                              {% endif %}
                              {% if transaction.kind == 'refund' %}
                              {% if transaction.payment_details.credit_card_company %}
                              {% assign refund_method_title = transaction.payment_details.credit_card_company %}
                              {% else %}
                              {% assign refund_method_title = transaction.gateway %}
                              {% endif %}


                              <tr class="subtotal-line">
                                <td class="subtotal-line__title">
                                  <p>
                                    <span>Refund</span>
                                    <br>
                                    <small>{{ refund_method_title | capitalize }}</small>
                                  </p>
                                </td>
                                <td class="subtotal-line__value">
                                  <strong>- {{ transaction.amount | money }}</strong>
                                </td>
                              </tr>

                              {% endif %}
                              {% endfor %}
                            </table>
                            {% endif %}
                          </td>
                        </tr>
                      </table>


                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>

        <table class="row section">
          <tr>
            <td class="section__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>
                      <h3>Customer information</h3>
                    </td>
                  </tr>
                </table>
                <table class="container">
                  <tr>
                    <td>

                      <table class="row">
                        <tr>
                          {% if requires_shipping and shipping_address %}
                          <td class="customer-info__item">
                            <h4>Shipping address</h4>
                            {{ shipping_address | format_address }}
                          </td>
                          {% endif %}
                          {% if billing_address %}
                          <td class="customer-info__item">
                            <h4>Billing address</h4>
                            {{ billing_address | format_address }}
                          </td>
                          {% endif %}
                        </tr>
                      </table>
                      <table class="row">
                        <tr>
                          {% if requires_shipping and shipping_address %}
                          <td class="customer-info__item">
                            <h4>Shipping method</h4>
                            <p>{{ shipping_method.title }}</p>
                          </td>
                          {% endif %}
                          {% assign transaction_count = transactions | size %}
                          {% if transaction_count > 0 %}
                          <td class="customer-info__item">
                            <h4>Payment method</h4>
                            {% for transaction in transactions %}
                            {% if transaction.status == "success" or transaction.status == "pending" %}
                            {% if transaction.kind == "authorization" or transaction.kind == "sale" %}
                            <p class="customer-info__item-content">
                              {% if transaction.payment_details.credit_card_company %}
                              {% capture credit_card_url %}notifications/{{ transaction.payment_details.credit_card_company | downcase | replace: " ", "_" }}.png{% endcapture %}
                              <img src="{{ credit_card_url | shopify_asset_url }}" class="customer-info__item-credit" height="24">
                              <span>Payment method — <strong>{{ transaction.amount | money }}</strong></span>
                              {% else %}
                              {{ transaction.gateway_display_name }} — <strong>{{ transaction.amount | money }}</strong>
                              {% endif %}
                            </p>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                          </td>
                          {% endif %}
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>

        <table class="row footer">
          <tr>
            <td class="footer__cell">
              <center>
                <table class="container">
                  <tr>
                    <td>

                      <p class="disclaimer__subtext">If you have any questions, reply to this email or contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>

        <img src="{{ 'notifications/spacer.png' | shopify_asset_url }}" class="spacer" height="1" />

      </td>
    </tr>
  </table>

  <div class="email-footer">
    <div class="eamil-footer-menu-wrap">
      <ul>
        <li>
          <a href="{{shop.url}}/collections/whats-new?utm_source=tran&utm_medium=email&utm_campaign=contact_customer" tabindex="0" title="WHAT'S NEW">what's new</a>
        </li>
        <li>
          <a href="{{shop.url}}/collections/tall-bottoms?utm_source=tran&utm_medium=email&utm_campaign=contact_customer" tabindex="0" title="tall bottoms">bottom</a>
        </li>
        <li>
          <a href="{{shop.url}}/collections/tall-clothing?utm_source=tran&utm_medium=email&utm_campaign=contact_customer" tabindex="0" title="tall cloting">clothing</a>
        </li>
        <li>
          <a href="{{shop.url}}/collections/tall-active-lounge" tabindex="0" title="tall active & lounge">active & lounge</a>
        </li>
        <li>
          <a href="{{shop.url}}/collections/sale?utm_source=tran&utm_medium=email&utm_campaign=contact_customer" tabindex="0" title="sale">sale</a>
        </li>
      </ul>
    </div>
    <div class="footer-social-icon">
      <ul>
        <li>
          <a href="//instagram.com/alloyapparel?utm_source=tran&utm_medium=email&utm_campaign=contact_customer" target="_blank" tabindex="0" title="instagram">
            <img src="https://cdn.shopify.com/s/files/1/0088/7940/7219/files/instagram.svg" alt="Instagram" width="25px" height="25px">
          </a>
        </li>
        <li>
          <a href="//facebook.com/alloyapparel/?utm_source=tran&utm_medium=email&utm_campaign=contact_customer" target="_blank" tabindex="0" title="facebook">
            <img src="https://cdn.shopify.com/s/files/1/0088/7940/7219/files/facebook.svg" alt="facebook" width="25px" height="25px">
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright-and-address-wrap">
      <p>© 2020 Alloy Apparel. All rights reserved.</p>
      <p>10746 Commerce Way Suite B, Fontana, CA, 92337</p>
    </div>
    <div class="email-footer-bottom">
      <ul>
        <li>
          <a href="{{shop.url}}/collections/tall-bottoms?utm_source=tran&utm_medium=email&utm_campaign=contact_customer" class="unscubire" tabindex="0" title="unsubscribe">Unsubscribe</a>
        </li>
        <li>
          <a href="{{shop.url}}/pages/privacy-policy?utm_source=tran&utm_medium=email&utm_campaign=contact_customer" tabindex="0" title="Privacy Policy">Privacy Policy</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>

