<div class="description-tab">
    <div class="description-tab-wrapper">
    <div class="product-description-tabs">
        <div class=" tab-1 product-tab">
        <button class="product-btn active"data-tab-value=".panel-1">Description</button>
        <!-- <div class="accordian active">
            <div class="accordian-body">{{product.description}}</div>
        </div> -->
        </div>
        <div class="tab-2 product-tab">
        <button class="product-btn" data-tab-value=".panel-2">Data</button>
        <!-- <div class="accordian">
            <div class="accordian-body">{{block.settings.product_desc_tab_1}}</div>
        </div> -->
        </div>
        <div class="tab-3 product-tab">
        <button class="product-btn" data-tab-value=".panel-3">Shippping Returns<span class="arrow"></span></button>
        <!-- <div class="accordian">
            <div class="accordian-body">{{block.settings.product_desc_tab_2}}</div>
        </div> -->
        </div>
        <div class="product-description-wrapper">
            <div class="panel panel-1 active" >
                <div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta doloribus non nostrum voluptates, excepturi odit cupiditate inventore recusandae, necessitatibus harum deserunt!</div>
            </div>
            <div class="panel panel-2" >
                <div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias asperiores aut, exercitationem libero tempora non, autem nemo provident nam, cumque aliquam? Porro?</div>
            </div>
            <div class="panel panel-3" >
                <div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, consequatur.</div>
            </div>
        </div>
    </div>
    
</div>