<div class="popup-background">
    <div class="popup-wrapper">
        <div class="popup-box">
            <h2>Are you 18+ or not?</h2>
            <div class="button-wrapper">
                <button class="btn yesbtn">Yes</button>
                <button class="btn nobtn">No</button>
            </div>
        </div>
    </div>
</div>