<div class="cart-page-width">
    <ul class="items" id={{ item.id }}>
        {% for item in cart.items %}  <!--this loop will fetch item one by one from all items inside cart-->
            <li class="item-li">
                <div class="item-data-width item-data">
                    <div class="item-image-wrapper">
                        <img src="{{ item.image | img_url: 'master' }}" alt="{{item.title}}" onclick="history.back();">
                    </div>
                    <div class="item-details">
                        <h3>{{ item.title }}</h3>
                        <ul class="item-options">
                            {% for option in  item.options_with_values %}<!--this loop will fetch all the option from options_with_values inside item -->
                                <li class="option">
                                    <span>{{ option.name }} : </span><span>{{ option.value }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="item-remove-button" id="{{ item.id }}">
                            <a href="/"class="remove-btn" data-id="{{item.id}}" title="Remove item">Remove</a>
                        </div>
                    </div>
                </div>
                <div class="item-data-width item-price">
                    <p class ="price-of-item">{{ item.price | money }}</p>
                </div>
                <div class="item-data-width quantity-box">
                    <span data-id="{{ item.id }}"class="qty-plus qty_btn">+</span>
                    <input class="item-qty"type="text"name="update[]"size="2"id="updates_{{ item.id }}"value="{{ item.quantity }}">
                    <span data-id="{{ item.id }}"class="qty-minus qty_btn">-</span>
                </div>
                <div class="item-data-width item-total">
                    <p class ="total-item-price">{{ item.line_price | money }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>